<div id="<%= dom_id service %>">
  <p>
    <strong>Title:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Text field1:</strong>
    <%= service.text_field1 %>
  </p>

  <p>
    <strong>Text field2:</strong>
    <%= service.text_field2 %>
  </p>

  <p>
    <strong>Text field3:</strong>
    <%= service.text_field3 %>
  </p>

</div>
