          <div class="row">
            <%= form_with(model: [:admin, @service]) do |form| %>
              <% if @service.errors.any? %>
                <div class="errors-title">
                  <h4 class="team-title"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h4>
                  <ul>
                    <% @service.errors.each do |error| %>
                      <li class="alert alert-danger"><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div>
              <div class="row mb-3">
                <div class="col-md-6 pb-3">
                  <%= form.label :title, "Service Title", class: "team-title" %>
                  <%= form.text_field :title, class: "form-control", placeholder: "Service Ttitle" %>
                </div>
                <div class="col-md-6 pb-3">
                  <%= form.label :image, "Service Image", class: "team-title" %>
                  <label class="btn btn-secondary w-100">Choose image
                    <%= form.file_field :image, class: "d-none" %>
                  </label>
                </div>
                <div class="col-md-4">
                  <%= form.label :text_field1, "Service Text1", class: "team-title" %>
                  <%= form.text_field :text_field1, class: "form-control", placeholder: "Service Text1" %>
                </div>
                <div class="col-md-4">
                  <%= form.label :text_field2, "Service Text1", class: "form-label team-title" %>
                  <%= form.text_field :text_field2, class: "form-control", placeholder: "Service Text2" %>
                </div>
                <div class="col-md-4">
                  <%= form.label :text_field3, "Service Text1", class: "form-label team-title" %>
                  <%= form.text_field :text_field3, class: "form-control", placeholder: "Service Text3" %>
                </div>
              </div>
              <div class="card-body text-center pt-3">
                <%= form.submit "Save", class: "btn btn-secondary", role: "button" %>
              </div>
            <% end %>
          </div>