          <div class="row">
            <%= form_with(model: [:admin, @member]) do |form| %>
              <% if @member.errors.any? %>
                <div class="pb-3" style="color: red">
                  <h3><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h3>
                  <ul>
                    <% @member.errors.each do |error| %>
                      <li class="text-start"><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div>
              <div class="row mb-3">
                <div class="col-md-4">
                  <%= form.label :name, "Member Name", class: "team-title" %>
                  <%= form.text_field :name, class: "form-control", placeholder: "Member Name" %>
                </div>
                <div class="col-md-4">
                  <%= form.label :role, "Member Role", class: "team-title" %>
                  <%= form.text_field :role, class: "form-control", placeholder: "Member Role" %>
                </div>
                <div class="col-md-4">
                  <%= form.label :image, "Member Image", class: "team-title" %>
                  <label class="btn btn-secondary w-100">Choose image
                    <%= form.file_field :image, class: "d-none" %>
                  </label>
                </div>
              </div>
              <div class="col-md 12 mb-3">
                <%= form.label :description, "Member Description", class: "form-label team-title" %>
                <%= form.text_area :description, class: "form-control", placeholder: "Member Description", rows: 10 %>
              </div>
              <div class="card-body text-center pt-3">
                <%= form.submit "Save", class: "btn btn-secondary", role: "button" %>
              </div>
            <% end %>
          </div>