    <div id="main">
      <div class="dashboard-section">
				<div class="dashboard-container">
          <div class="row">
            <div class="col-sm-12 col-lg-4">
              <div class="team-details-photo imagebox team-details-info">
                <% if @member.image.attached? %>
                  <%= image_tag @member.image, class: "img-fluid rounded shadow", width: 300 %>
                <% end %>
              </div>
            </div>
            <div class="col-sm-12 col-lg-8">
              <div class="team-details-info">
                <h2><%= @member.name %></h2>
                <hr>
                <p><%= simple_format(@member.description) %></p>
                <hr>
                <div class="team-details-contact">
                  <a href="#"><i class="fa-xl fa-brands fa-facebook"></i></a>
                  <a href="#"><i class="fa-xl fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-xl fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-xl fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body text-start pt-3">
            <%= link_to "Back to members", admin_members_path, class: "btn btn-outline-primary mb-1", role: "button" %>
            <%= link_to "Edit #{@member.name}", edit_admin_member_path(@member), class: "btn btn-outline-primary mb-1", role: "button" %>
            <%= link_to "View #{@member.name} Page", @member, class: "btn btn-outline-primary mb-1", role: "button" %>
            <%= button_to "Delete #{@member.name}", admin_member_path(@member), method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-danger mt-2 mb-1", role: "button" %>
          </div>
        </div>
      </div>
    </div>
