<div id="<%= dom_id banner %>">
  <p>
    <strong>Title:</strong>
    <%= banner.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= banner.subtitle %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= banner.image %>
  </p>

  <p>
    <strong>Button text:</strong>
    <%= banner.button_text %>
  </p>

  <p>
    <strong>Button link:</strong>
    <%= banner.button_link %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= banner.active %>
  </p>

</div>
