    <div id="main">
      <!-- Carousel start -->
      <section class="carousel-section">
        <div id="carouselControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <% @banners.each_with_index do |banner, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <% if banner.image.attached? %>
                  <%= image_tag banner.image, class: "d-block w-100" %>
                <% end %>
                <div class="container">
                  <div class="carousel-text">
                    <h1><%= banner.title %></h1>
                    <h3><%= banner.subtitle %></h3>
                    <div class="carousel-button mt-3">
                      <% if banner.button_link.present? %>
                        <%= link_to banner.button_text.presence, banner.button_link, class: "btn btn-secondary shadow-sm" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
            <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <!-- Carousel end -->
      <!-- About start -->
      <section class="about-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="about-photo imagebox about-info">
                <img class="img-fluid rounded shadow" src="/static-assets/images/about.jpg" alt="About Us">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="about-info">
                <h2>Anuvia Spa and Salon</h2>
                <hr>
                <p>Welcome to Anuvia Salon, where beauty and well-being come together to create a unique experience for our clients. At Anuvia Salon, our dedicated team of experienced professionals is here to take care of you from head to toe. We offer a wide range of high-quality services, including modern haircuts, personalized coloring treatments, manicures and pedicures for impeccable nails, as well as rejuvenating facial and body treatments.</p>
                <p>Our mission is not only to enhance your outer beauty but also to promote a sense of inner relaxation and confidence. Come visit us and discover how Anuvia Salon can make you even more radiant!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About end -->
      <!-- Discounts start -->
      <section class="discounts-section shadow">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="discounts-info">
                <h2>Customer-Loyalty Discount</h2>
                <hr>
                <p>Discover the advantages of becoming a loyal customer of Anuvia Salon! Starting now, we are offering exclusive discounts for those who choose excellence in beauty with us repeatedly.</p>
                <p>Our team is dedicated not only to transforming your appearance but also to building strong and lasting relationships. By becoming a loyal customer of Anuvia Salon, you not only receive high-quality treatments but also special benefits such as discounts on selected services and exclusive offers to continuously care for your beauty.</p>
                <a class="btn btn-primary" href="about.html" role="button">Read More</a>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="imagebox discounts-info">
                <img class="img-fluid rounded shadow float-end" src="/static-assets/images/discounts.jpg" alt="Discounts">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Discounts end -->
      <!-- Team start -->
      <section class="team-section">
        <div class="container">
          <div class="team-section-title text-center mb-5">
            <h2 class="mb-4">Meet Us</h2>
            <p class="lead mb-4">We are a group of innovative, experienced, and proficient teams. You will love to collaborate with us.</p>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <div class="row">
            <% @members.each do |member| %>
              <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="card shadow border-0">
                  <% if member.image.attached? %>
                    <%= link_to member do %>
                      <%= image_tag member.image, class: "img-fluid rounded shadow", width: 300 %>
                    <% end %>
                  <% end %>
                  <div class="card-body text-center">
                    <%= link_to member_path(member), class: "text-decoration-none" do%>
                      <h3 class="team-title"><%= member.name %></h3>
                    <% end %>
                    <h5 class="team-subtitle"><%= member.role %></h5>
                    <hr>
                    <div class="d-flex justify-content-center">
                      <a href="#" class="mx-2"><i class="fa-xl fa-brands fa-facebook"></i></a>
                      <a href="#" class="mx-2"><i class="fa-xl fa-brands fa-twitter"></i></a>
                      <a href="#" class="mx-2"><i class="fa-xl fa-brands fa-instagram"></i></a>
                      <a href="#" class="mx-2"><i class="fa-xl fa-brands fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="text-center mt-4">
            <%= link_to "Read More", members_path, class: "btn btn-outline-primary shadow" %>
          </div>
        </div>
      </section>
      <!-- Team end -->
      <!-- Services start -->
      <section class="services-section shadow">
        <div class="container">
          <div class="services-section-title text-center mb-5">
            <h2 class="mb-4">Our Services</h2>
            <p class="lead mb-4">Experience the excellence in beauty and relaxation at our salon, where every service is carefully crafted to enhance your unique beauty and rejuvenate your mind and body.</p>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <div class="row">
            <% @services.each do |service| %>
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card shadow border-0">
                  <% if service.image.attached? %>
                    <%= link_to service_path(service) do %>
                      <%= image_tag service.image, class: "img-fluid rounded shadow" %>
                    <% end %>
                  <% end %>
                  <div class="card-body text-center">
                    <%= link_to service do %>
                      <h4 class="services-title"><%= service.title %></h4>
                    <% end %>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= service.text_field1 %></li>
                    <li class="list-group-item"><%= service.text_field2 %></li>
                    <li class="list-group-item"><%= service.text_field3 %></li>
                  </ul>
                  <div class="card-body text-center">
                    <%= link_to "Read More", service, class: "btn btn-outline-primary shadow" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="text-center mt-4">
            <%= link_to "Read More", services_path, class: "btn btn-primary shadow" %>
          </div>
        </div>
      </section>
      <!-- Services end -->
      <!--Blog start -->
      <section class="blog-section">
        <div class="container">
          <div class="blog-section-title">
            <h2 class="mb-4">Our latest news</h2>
            <p class="mb-4 lead">Stay informed with our latest news. Discover whats making people talk on our blog </p>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <div class="row">
            <% @posts.each do |post| %>
              <div class="card-blog col-12 col-md-6 col-lg-4">
                <div class="blog-content shadow">
                  <% if post.image.attached? %>
                    <%= link_to post do %>
                        <%= image_tag post.image, class: "card-img-top rounded" %>
                      <% end %>
                    <% end %>
                  <div class="card-body">
                    <%= link_to post do %>
                      <h4 class="blog-title"><%= post.title %></h4>
                    <% end %>
                    <p class="blog-subtitle lead">Is blow-drying with hair dryer bad? Here’s what science says</p>
                    <div class="blog-list">
                      <ul class="d-flex justify-content-center align-items-center">
                        <li>
                          <i class="fa-regular fa-user"></i>
                          <a href="team-details.html">Rachel Morg</a>
                        </li>
                        <li style="color: #6c757d;">
                          <i class="fa-regular fa-clock"></i>
                          <%= post.created_at.strftime("%d/%m/%Y at %H:%M") %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="btn-read-more">
            <%= link_to "Read More", posts_path, class: "btn btn-outline-primary shadow" %>
          </div>
        </div>
      </section>
      <!-- Blog end -->
    </div>
