          <div class="row">
            <%= form_with(model: [:admin, @post]) do |form| %>
              <% if @post.errors.any? %>
                <div class="pb-3" style="color: red">
                  <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
                  <ul>
                    <% @post.errors.each do |error| %>
                      <li class="text-start"><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div>
              <div class="row mb-3">
                <div class="col-md-4">
                  <%= form.label :title, "Post Title", class: "team-title" %>
                  <%= form.text_field :title, class: "form-control", placeholder: "Post Title" %>
                </div>
                <div class="col-md-4">
                  <%= form.label :headline, "Post Headline", class: "team-title" %>
                  <%= form.text_field :headline, class: "form-control", placeholder: "Post Headline" %>
                </div>
                <div class="col-md-4">
                  <%= form.label :image, "Post Image", class: "team-title" %>
                  <label class="btn btn-secondary w-100">Choose image
                    <%= form.file_field :image, class: "d-none" %>
                  </label>
                </div>
              </div>
              <div class="col-md 12 mb-3">
                <%= form.label :description, "Post Description", class: "form-label team-title" %>
                <%= form.text_area :description, class: "form-control", placeholder: "Post Description", rows: 10 %>
              </div>
              <div class="card-body text-center pt-3">
                <%= form.submit "Save", class: "btn btn-secondary", role: "button" %>
              </div>
            <% end %>
          </div>