<div id="main">

      <!-- Breadcumbs start -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <div class="container d-flex p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </div>
        </ol>
      </nav>
      <!--Breadcumbs end -->
      <!--Blog start -->
      <section class="blog-section">
        <div class="container">
          <div class="blog-section-title">
            <h2 class="mb-4">Our latest news</h2>
            <p class="mb-4 lead">Stay informed with our latest news. Discover whats making people talk on our blog </p>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <div class="row">
            <% @posts.each do |post| %>
              <div class="card-blog col-12 col-md-6 col-lg-4">
                <div class="blog-content shadow">
                  <% if post.image.attached? %>
                    <%= link_to post_path(post) do %>
                      <%= image_tag post.image, class: "img-fluid rounded shadow" %>
                    <% end %>
                  <% end %>
                  <div class="card-body">
                    <%= link_to post_path(post) do %>
                      <h4 class="blog-title"><%= post.title %></h4>
                    <% end %>
                    <p class="blog-subtitle lead"><%= post.headline %></p>
                    <div class="blog-list">
                      <ul class="d-flex justify-content-center align-items-center">
                        <li>
                          <i class="fa-regular fa-user"></i>
                          <a href="team-details.html">Rachel Morg</a>
                        </li>
                        <li style="color: #6c757d;">
                          <i class="fa-regular fa-clock"></i>
                          <%= post.created_at.strftime("%d/%m/%Y at %H:%M") %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </section>
      <!-- Blog end -->

    </div>