<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/static-assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/static-assets/stylesheets/elegant-icons.css">
    <link rel="stylesheet" href="/static-assets/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/static-assets/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static-assets/stylesheets/slicknav.min.css">

    <!-- Site css -->
    <link rel="stylesheet" href="/static-assets/stylesheets/style.css">
    <link rel="stylesheet" href="/static-assets/stylesheets/admin.css">

    <title>Anuvia - Beauty Spa</title>
  </head>
	<body>

		<div class="admin-layout">

			<aside class="admin-sidebar">
				<div class="sidebar-header">
					<h2>Admin</h2>
				</div>

				<div class="sidebar-home">
					<%= link_to "Ver site", root_path %>
				</div>
				<nav class="sidebar-nav">
					<ul>
						<li>
							<%= link_to "Dashboard", admin_root_path %>
						</li>
						<li>
							<%= link_to "Banners", admin_banners_path %>
						</li>
						<li>
							<%= link_to "Posts", admin_posts_path %>
						</li>
						<li>
							<%= link_to "Members", admin_members_path %>
						</li>
						<li>
							<%= link_to "Services", admin_services_path %>
						</li>
					</ul>
				</nav>
				<div class="sidebar-footer d-flex">
					<% if current_user.image.attached? %>
						<%= image_tag current_user.image, class: "user-image" %>
					<% end %>
				
					<div class="btn-group">
						<button type="button" class="btn btn-secondary btn-sm"><%= current_user.email %></button>
						<button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<%= link_to "Profile", admin_profile_path, class: "dropdown-item" %>
							<div class="dropdown-divider"></div>
							<%= button_to "Logout", logout_path, method: :delete, class: "dropdown-item btn btn-danger", form: { style: "display: inline;" } %>
						</div>
					</div>
				</div>
			</aside>

			<div class="admin-content">
				<%= yield %>
			</div>
		</div>

	</body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/static-assets/javascript/bootstrap.min.js"></script>

	<script src="/static-assets/javascript/back-to-top.js"></script>
</html>