      <!-- Breadcumbs start -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <div class="container d-flex p-0">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item"><%= link_to "Members", members_path %></li>
            <li class="breadcrumb-item"><%= link_to @member.name, @member %></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
          </div>
        </ol>
      </nav>
      <section class="team-section">
        <div class="container">
          <div class="team-section-title text-center mb-5">
            <h2 class="mb-4">Edit <%= @member.name %></h2>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <%= render 'form' %>
        </div>
        <div class="card-body text-start pt-3">
          <%= link_to "Back to Members", members_path, class: "btn btn-outline-primary", role: "button" %>
          <%= link_to "Back to #{@member.name} page", @member, class: "btn btn-outline-primary", role: "button" %>
        </div>
      </section>
